/* ---------- root variables ---------- */
:root {
  --text-color-light: #ececec;
  --text-color-dark: #141414;

  --dark-background: #0a0a0a;
  --light-background: #f5f5f5;

  --light-grey-background: #e0e0e0;
  --grey-background: #858585;
  --dark-grey-background: #474747;

  --orange-gradient: linear-gradient(to right, #ea5e7e, #ff9966);
  --orange-coral: #ea5e7e;
  --orange: #ff9966;
  --dark-orange: #e4773f;
  --darker-orange: #c1541c;
  --light-orange: #ffb18a;

  --yellow: #ffc266;

  --topbar-background: #ff9966;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* ---------- general styling ---------- */
html {
  color: var(--text-color-dark);
  font-family: "Sen", sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
  font-weight: 200;
}

body {
  background-color: var(--light-background);
  margin: 0 auto;
}

h1 {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 3px;
}

h3 {
  font-weight: 400;
  letter-spacing: 2px;
}

/* ---------- styling ---------- */
iframe {
  border: none;
  width: 100%;
  height: 250px;
}

/* input form stryling */
form {
  margin: auto;
}

form button {
  font-weight: 200;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 12px 15px;
  font-size: 1em;
  border-radius: 0;
  color: #ffffff !important;
  background-color: rgb(38, 76, 89);
  width: 100%;
  max-width: 350px;
}

input,
select {
  -webkit-appearance: none;
  margin: 1em auto;
  width: 100%;
  max-width: 350px;
  padding: 15px 15px;
  box-sizing: border-box;
  display: block;
  background: #fff;
  border: 0;
  border-radius: 0;
}

/* ---------- width styling ---------- */
nav,
#home,
#projects,
#about,
#contact {
  margin: 0 auto;
}

@media (min-width: 768px) {
  nav,
  #home,
  #projects,
  #about,
  #contact {
    width: 95%;
  }
}

@media (min-width: 1024px) {
  nav,
  #home,
  #projects,
  #about,
  #contact {
    width: 90%;
  }
}

@media (min-width: 1440px) {
  nav,
  #home,
  #projects,
  #about,
  #contact {
    width: 50%;
  }
}

/* ---------- nav styling ---------- */
.logo {
  font-family: "Stalemate", cursive;
  font-size: 3em;
  font-weight: bold;
  color: white;
}

@media (min-width: 1024px) {
}

/* ---------- topbar styling ---------- */
.topbar-wrapper {
  background: var(--topbar-background);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.topbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.25em;
}

@media (min-width: 1024px) {
  .topbar-wrapper {
    display: none;
  }
}

/* ---------- tabbar styling ---------- */
.tabbar-wrapper {
  background: white;
  border-top: 1px var(--light-grey-background) solid;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.tabbar .logo {
  display: none;
}

/* Style the links inside the navigation bar */

.tabbar .links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabbar a {
  color: var(--grey-background);
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 0.5em;
  text-decoration: none;
}

.tabbar p {
  padding: 0;
  margin: 0;
}

/* Change the color of links on hover */
.tabbar a.active {
  background-color: var(--light-orange);
  color: white;
}

@media (min-width: 1024px) {
  .tabbar-wrapper {
    background: var(--topbar-background);
    top: 0;
    bottom: initial;
  }

  .tabbar {
    display: flex;
  }

  .tabbar .logo {
    display: flex;
    width: 100%;
    color: white;
    justify-content: center;
  }

  .tabbar .links {
    width: 100%;
    padding: 0;
  }

  .tabbar a {
    color: var(--text-color-light);
    height: 100%;
    width: 50%;
  }

  .tabbar a:hover {
    color: var(--text-color-light);
    background: var(--dark-orange);
  }

  .tabbar a.active {
    color: var(--text-color-light);
    background: var(--dark-orange);
    margin: 0 auto;
  }
}

/* ---------- page styling ---------- */
.page {
  display: none;
  min-height: 100vh;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ---------- main styling ---------- */

main section {
  background-color: var(--light-background);
}

/* ---------- home styling ---------- */
.article-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home article {
  text-align: center;
  margin: 0 auto;
  padding: 1em;
}

#home h1 {
  font-size: 2em;
  font-weight: bold;
  color: var(--text-color-dark);
}

#home p {
  font-size: 1.2em;
  margin: 1em 0 1em 0;
}

.btn-right {
  background: none;
  border: 0;
  font-size: 1.25em;
  position: relative;
  width: 12.5em;
  height: 3em;
}
.btn-right a {
  color: var(--text-color-light);
  text-decoration: none;
  position: relative;
  z-index: 10;
  margin-left: 10px;
  font-weight: bold;
}
.btn-right::before,
.btn-right::after {
  background: var(--orange-gradient);
  border-radius: 2px;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 1.5em;
}

.btn-right::before {
  box-shadow: -1px 1px 0 #ff9966, -2px 2px 0 #ff9966, -3px 3px 0 #ff9966,
    -4px 4px 0 #ff9966;
  transform: skew(45deg);
  top: 0;
}

.btn-right::after {
  box-shadow: 1px 1px 0 #ea5e7e, 2px 2px 0 #ea5e7e, 3px 3px 0 #ea5e7e,
    4px 4px 0 #ea5e7e;
  transform: skew(-45deg);
  bottom: 0;
}
.btn-right:hover::before,
.btn-right:hover::after {
  background: var(--light-orange);
}
.btn-right:focus {
  outline: 0;
}
.btn-right:focus::before,
.btn-right:focus::after {
  background: var(--light-orange);
}

@media (min-width: 1024px) {
  #home h1 {
    font-size: 3em;
    font-weight: bold;
    color: var(--text-color-dark);
  }

  #home p {
    font-size: 2em;
    margin: 1em 0 1em 0;
  }

  .btn-right {
    font-size: 1.25em;
    width: 20em;
    height: 3em;
  }
  .btn-right a {
    margin-left: 10px;
  }
  .btn-right::before,
  .btn-right::after {
    height: 1.5em;
  }
}

/* ---------- projects styling ---------- */
#projects .year {
  margin: 4em auto 0 auto;
  text-align: center;
}

.book {
  margin: 2em auto;
  text-align: center;
}

.book article {
  width: 100%;
  margin: 2.5em 0 5em 0;
  border-bottom: solid 1px black;
  padding-bottom: 2em;
}

.textOver {
  position: relative;
  margin: 0 auto;
  width: 90%;
  border: solid var(--orange) 10px;
}

.textOver img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: 50% 0;
  filter: brightness(50%);
}

.book article figcaption {
  text-align: center;
  font-size: 1em;
  width: 90%;
  margin: 0 auto;
  color: var(--text-color-dark);
}

.book article figcaption h2 {
  padding-top: 1em;
  color: var(--text-color-dark);
}

@media (min-width: 375px) {
  .textOver img {
    height: 750px;
  }
}

@media (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5em;
  }

  .book article {
    min-height: 750px;
  }

  .book figure {
    width: 100%;
  }

  .book figcaption {
    height: 100%;
  }

  .textOver img {
    width: 100%;
    height: 450px;
  }
}

@media (min-width: 1024px) {
  .book a:hover {
    text-decoration: none;
  }

  .book a:hover img {
    filter: brightness(100%);
  }

  .book article {
    width: 100%;
    min-height: 800px;
  }

  .textOver img {
    height: 500px;
  }
}

@media (min-width: 1440px) {
  .book article {
    width: 100%;
    min-height: 1000px;
  }

  .textOver img {
    height: 700px;
  }
}

/* ---------- about styling ---------- */

#banner {
  width: 100%;
  margin: 0 auto;
  border: none;
  position: relative;
}

#banner img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border: none;
  opacity: 0.25;
}

#banner figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#banner figcaption h1 {
  font-size: 4em;
}

#banner figcaption h2 {
  font-size: 2em;
}

#banner figcaption p {
  font-size: 1.5em;
}

@media (min-width: 320px) {
  #exp {
    padding: 2em;
  }
  #exp .expInner {
    padding: 5em 1em;
    margin-top: 5em;
    position: relative;
    display: flex;
    justify-content: center;
  }

  #exp div {
    padding: 2em 3em;
  }

  #exp i {
    position: absolute;
    border-radius: 50%;
    padding: 0.5em;
    top: -40px;
    font-size: 3em;
    color: white;
  }

  #exp h2 {
    font-size: 1.75em;
    text-align: center;
    margin-bottom: 1em;
  }

  #exp p,
  #exp li {
    font-size: 1.25em;
  }
}

@media (min-width: 768px) {
  #exp {
    grid-template-columns: 50% 50%;
    grid-gap: 1em;
    grid-template-areas:
      "exptop exptop"
      "expleft expright";
  }

  #exp {
    width: 75%;
    margin: 0 auto;
  }

  #exp .expInner {
    margin-top: 3em;
  }

  #expTop {
    grid-area: exptop;
  }

  #expLeft {
    grid-area: expleft;
  }

  #expRight {
    grid-area: expright;
  }
}

#exp .fa-user {
  background-color: red;
}

#exp .fa-cog {
  background-color: green;
}

#exp .fa-file {
  background-color: blue;
}

ul {
  text-align: left;
  padding: 0;
}

li {
  list-style-type: none;
}
