/* ---------- root variables ---------- */
:root {
  --text-color-light: #ececec;
  --text-color-dark: #141414;
  --dark-background: #0a0a0a;
  --light-background: #f6f6f6;
  --grey-background: #e2e2e2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* ---------- general styling ---------- */
html {
  color: var(--text-color-dark);
  font-family: "Sen", sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
  font-weight: 200;
}

body {
  background-color: var(--grey-background);
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 3px;
}

h3 {
  font-weight: 400;
  letter-spacing: 2px;
}

/* ---------- styling ---------- */
iframe {
  border: none;
  width: 100%;
  height: 250px;
}

/* input form stryling */
form {
  margin: auto;
}

form button {
  font-weight: 200;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 12px 15px;
  font-size: 1em;
  border-radius: 0;
  color: #ffffff !important;
  background-color: rgb(38, 76, 89);
  width: 100%;
  max-width: 350px;
}

input,
select {
  -webkit-appearance: none;
  margin: 1em auto;
  width: 100%;
  max-width: 350px;
  padding: 15px 15px;
  box-sizing: border-box;
  display: block;
  background: #fff;
  border: 0;
  border-radius: 0;
}

/* ---------- width styling ---------- */
@media (min-width: 320px) {
  nav,
  #home,
  #projects,
  #socials {
    width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  nav,
  #home,
  #projects,
  #socials {
    width: 80%;
  }
}

@media (min-width: 1440px) {
  nav,
  #home,
  #projects,
  #socials {
    width: 50%;
  }
}

/* ---------- nav styling ---------- */
nav {
  background-color: var(--grey-background);
  height: 5vh;
}

/* ---------- topbar styling ---------- */
.topbar {
  color: var(--text-color-light);
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.topbar a {
  color: white;
  color: var(--text-color-dark);
  text-transform: uppercase;
  height: 100%;
  width: 10em;
}

.topbar a:hover {
  text-decoration: none;
  background-color: var(--light-background);
}

.topbar a.active {
  background-color: var(--light-background);
  font-weight: bold;
}

/* ---------- tabbar styling ---------- */
.tabbar {
  background-color: var(--dark-background);
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

/* Style the links inside the navigation bar */
.tabbar a i {
  color: white;
  background-color: var(--dark-background);
  font-size: 2em;
  margin-left: 1em;
}

/* Change the color of links on hover */
.tabbar a:hover {
  background-color: var(--light-background);
}

/* ---------- page styling ---------- */
.page {
  display: none;
  min-height: 100vh;
  /* padding equals height of tabbar and topbar */
  padding: 55px 0;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ---------- main styling ---------- */
main {
  background-color: var(--grey-background);
}

main section {
  background-color: var(--light-background);
}

/* ---------- home styling ---------- */

#banner {
  width: 100%;
  margin: 0 auto;
  border: none;
  position: relative;
}

#banner img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border: none;
  opacity: 0.25;
}

#banner figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#banner figcaption h1 {
  font-size: 4em;
}

#banner figcaption h2 {
  font-size: 2em;
}

#banner figcaption p {
  font-size: 1.5em;
}

@media (min-width: 320px) {
  #exp {
    padding: 2em;
  }
  #exp .expInner {
    padding: 5em 1em;
    margin-top: 5em;
    position: relative;
    display: flex;
    justify-content: center;
  }

  #exp i {
    position: absolute;
    border-radius: 50%;
    padding: 0.5em;
    top: -40px;
    font-size: 3em;
    color: white;
  }

  #exp h2 {
    font-size: 1.75em;
    text-align: center;
    margin-bottom: 1em;
  }

  #exp p,
  #exp li {
    font-size: 1.25em;
  }
}

@media (min-width: 768px) {
  #exp {
    grid-template-columns: 50% 50%;
    grid-gap: 1em;
    grid-template-areas:
      "exptop exptop"
      "expleft expright";
  }

  #exp {
    width: 75%;
    margin: 0 auto;
  }

  #exp .expInner {
    margin-top: 3em;
  }

  #expTop {
    grid-area: exptop;
  }

  #expLeft {
    grid-area: expleft;
  }

  #expRight {
    grid-area: expright;
  }
}

#exp .fa-user {
  background-color: red;
}

#exp .fa-cog {
  background-color: green;
}

#exp .fa-file {
  background-color: blue;
}

ul {
  text-align: left;
  padding: 0;
}

li {
  list-style-type: none;
}

/* ---------- projects styling ---------- */
/* Grid container */
.grid-container {
  padding: 10px;
}

@media (min-width: 320px) {
  .book article {
    width: 100%;
    margin: 2.5em auto;
  }

  .textOver {
    position: relative;
    margin: 0;
  }

  .textOver img {
    width: 100%;
    height: 800px;
    object-fit: cover;
    object-position: 50% 0;
    filter: brightness(97.5%);
  }

  .textOver figcaption {
    white-space: nowrap;
    color: white;
    background: #1f4037; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #1f4037,
      #99f2c8
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #1f4037,
      #99f2c8
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0.5em;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
  }
}

@media (min-width: 375px) {
  .textOver img {
    height: 700px;
  }
}

@media (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }

  .book article {
    width: 95%;
  }

  .textOver img {
    width: 100%;
    height: 650px;
  }

  .book article:hover img {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }

  .book article:hover figcaption {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }
}

@media (min-width: 1024px) {
  .book article {
    width: 85%;
  }

  .textOver img {
    height: 800px;
  }
}

@media (min-width: 1440px) {
  .book article {
    width: 80%;
  }

  .textOver img {
    height: 650px;
  }
}
