/* ---------- root variables ---------- */
:root {
  --text-color-light: #ececec;
  --text-color-dark: #141414;

  --dark-background: #0a0a0a;
  --light-background: #f5f5f5;

  --light-grey-background: #e0e0e0;
  --grey-background: #858585;
  --dark-grey-background: #474747;

  --orange-gradient: linear-gradient(to right, #ea5e7e, #ff9966);
  --orange-coral: #ea5e7e;
  --orange: #ff9966;
  --dark-orange: #e4773f;
  --darker-orange: #c1541c;
  --light-orange: #ffb18a;

  --yellow: #ffc266;

  --topbar-background: #ff9966;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* ---------- general styling ---------- */
html {
  color: var(--text-color-dark);
  font-family: "Sen", sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
  font-weight: 200;
}

body {
  background-color: var(--light-background);
  margin: 0 auto;
}

h1 {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 3px;
}

h3 {
  font-weight: 400;
  letter-spacing: 2px;
}

p {
  margin: 0;
  padding: 0;
}

/* ---------- styling ---------- */
iframe {
  border: none;
  width: 100%;
  height: 250px;
}

/* input form stryling */
form {
  margin: auto;
}

form button {
  font-weight: 200;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 12px 15px;
  font-size: 1em;
  border-radius: 0;
  color: #ffffff !important;
  background-color: rgb(38, 76, 89);
  width: 100%;
  max-width: 350px;
}

input,
select {
  -webkit-appearance: none;
  margin: 1em auto;
  width: 100%;
  max-width: 350px;
  padding: 15px 15px;
  box-sizing: border-box;
  display: block;
  background: #fff;
  border: 0;
  border-radius: 0;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ---------- logo styling ---------- */
.logo {
  font-family: "Stalemate", cursive;
  font-size: 3em;
  font-weight: bold;
  color: white;
}

/* ---------- topbar styling ---------- */
.topbar-wrapper {
  background: var(--topbar-background);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.topbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.25em;
}

@media (min-width: 1024px) {
  .topbar-wrapper {
    display: none;
  }
}

/* ---------- tabbar styling ---------- */
.tabbar-wrapper {
  background: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.tabbar .logo {
  display: none;
}

/* Style the links inside the navigation bar */

.tabbar .links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabbar a {
  color: var(--grey-background);
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 0.5em;
  text-decoration: none;
}

/* Change the color of links on hover */
.tabbar a.active {
  background-color: var(--light-orange);
  color: white;
}

@media (min-width: 1024px) {
  .tabbar-wrapper {
    background: var(--topbar-background);
    border: none;
    top: 0;
    bottom: initial;
  }

  .tabbar {
    display: flex;
  }

  .tabbar .logo {
    display: flex;
    width: 100%;
    color: white;
    justify-content: center;
  }

  .tabbar .links {
    width: 100%;
    padding: 0;
  }

  .tabbar a {
    color: var(--text-color-light);
    height: 100%;
    width: 50%;
  }

  .tabbar a:hover {
    color: var(--text-color-light);
    background: var(--dark-orange);
  }

  .tabbar a.active {
    color: var(--text-color-light);
    background: var(--dark-orange);
    margin: 0 auto;
  }
}

/* ---------- page styling ---------- */
.page {
  display: none;
  margin: 0 auto;
}

#projects {
  padding: 1.5vh 0 1.5vh 0;
}

#about {
  padding: 7.5vh 0 7.5vh 0;
}

@media (min-width: 768px) {
  #projects {
    padding: 5vh 1em 5vh 1em;
  }

  #about {
    padding: 7.5vh 0 7.5vh 0;
  }
}

@media (min-width: 1024px) {
  #projects,
  #about {
    padding: 7.5vh 2em 7.5vh 2em;
  }
}

@media (min-width: 1440px) {
  #projects,
  #about {
    padding: 7.5vh 40em 7.5vh 40em;
  }
}

/* ---------- main styling ---------- */
main section {
  background-color: var(--light-background);
}

/* ---------- home styling ---------- */
.article-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#home article {
  text-align: center;
}

#home h1 {
  font-size: 2em;
  font-weight: bold;
  color: var(--text-color-dark);
}

#home p {
  font-size: 1.2em;
  margin: 1em 0 1em 0;
}

.btn-right {
  background: none;
  border: 0;
  font-size: 1.25em;
  position: relative;
  width: 12.5em;
  height: 3em;
}
.btn-right a {
  color: var(--text-color-light);
  text-decoration: none;
  position: relative;
  z-index: 10;
  margin-left: 10px;
  font-weight: bold;
}
.btn-right::before,
.btn-right::after {
  background: var(--orange-gradient);
  border-radius: 2px;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 1.5em;
}

.btn-right::before {
  box-shadow: -1px 1px 0 #ff9966, -2px 2px 0 #ff9966, -3px 3px 0 #ff9966,
    -4px 4px 0 #ff9966;
  transform: skew(45deg);
  top: 0;
}

.btn-right::after {
  box-shadow: 1px 1px 0 #ea5e7e, 2px 2px 0 #ea5e7e, 3px 3px 0 #ea5e7e,
    4px 4px 0 #ea5e7e;
  transform: skew(-45deg);
  bottom: 0;
}
.btn-right:hover::before,
.btn-right:hover::after {
  background: var(--light-orange);
}
.btn-right:focus {
  outline: 0;
}
.btn-right:focus::before,
.btn-right:focus::after {
  background: var(--light-orange);
}

@media (min-width: 1024px) {
  #home h1 {
    font-size: 3em;
    font-weight: bold;
    color: var(--text-color-dark);
  }

  #home p {
    font-size: 2em;
    margin: 1em 0 1em 0;
  }

  .btn-right {
    font-size: 1.25em;
    width: 20em;
    height: 3em;
  }
  .btn-right a {
    margin-left: 10px;
  }
  .btn-right::before,
  .btn-right::after {
    height: 1.5em;
  }
}

/* ---------- projects styling ---------- */
#projects .year {
  margin: 4em auto -2.5em auto;
  text-align: center;
}

.book {
  text-align: center;
}

.book a {
  display: block;
}

.book article {
  width: 100%;
  margin-top: 7.5em;
  border-bottom: solid 1px black;
  padding-bottom: 2em;
}

.textOver {
  position: relative;
  margin: 0 auto;
  width: 90%;
  border: solid var(--orange) 10px;
}

.textOver img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: 50% 0;
  filter: brightness(50%);
}

.book article figcaption {
  text-align: center;
  font-size: 1em;
  width: 90%;
  margin: 0 auto;
  color: var(--text-color-dark);
}

.book article figcaption h2 {
  padding-top: 1em;
  color: var(--text-color-dark);
}

@media (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5em;
  }

  #projects .year {
    margin: 1em auto 1em auto;
  }

  .book article {
    min-height: 700px;
    margin: 0;
  }

  .book figure {
    width: 100%;
  }

  .book figcaption {
    height: 100%;
  }

  .textOver img {
    width: 100%;
    height: 450px;
  }
}

@media (min-width: 1024px) {
  #projects .year {
    margin: 0.5em auto 1em auto;
  }

  .book a:hover {
    text-decoration: none;
  }

  .book a:hover img {
    filter: brightness(100%);
  }

  .book article {
    width: 100%;
    min-height: 800px;
  }

  .textOver img {
    height: 500px;
  }
}

@media (min-width: 1440px) {
  .book article {
    width: 75%;
    min-height: 1000px;
    margin: 0 auto;
  }

  .textOver img {
    height: 700px;
  }
}

/* ---------- about styling ---------- */

#banner,
.contact {
  width: 75%;
  margin: 0 auto;
}

#banner {
  position: relative;
  border-radius: 10px;
}

#banner img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: solid 10px var(--light-orange);
}

.contact {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1em;
}

.contact a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--dark-orange);
  padding: 1em;
  border-radius: 20px;
  margin: 10px;
}

.contact i {
  color: white;
  font-size: 2em;
}

#exp {
  width: 95%;
  margin: 0 auto;
}

#exp .exp-outer {
  margin: 7.5em 0 10em 0;
  position: relative;
  display: flex;
  justify-content: center;
}

#exp i {
  position: absolute;
  border-radius: 50%;
  padding: 0.5em;
  top: -40px;
  font-size: 3em;
  color: white;
}

#exp .exp-inner {
  padding: 4em 1em 1em 1em;
  width: 100%;
}

#exp #expTop .exp-inner {
  padding: 4em 2.5em 1.5em 2.5em;
}

#exp h2 {
  font-size: 1.5em;
  text-align: center;
  margin-top: 0.5em;
}

#exp h3 {
  font-size: 2.5em;
  text-align: center;
  margin-top: 1em;
}

#exp p {
  font-size: 1.1em;
  padding: 1em 0 0.5em 0;
}

#exp .list-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em 0 0 0;
}

#exp li {
  font-size: 1em;
}

#exp .fa-user {
  background-color: var(--yellow);
}

#exp .fa-cog {
  background-color: var(--orange);
}

#exp .fa-file {
  background-color: var(--orange-coral);
}

ul {
  text-align: left;
  padding: 0;
}

#expRight .exp-inner h3,
#expRight .exp-inner h4,
#expRight .exp-inner a,
#expRight .exp-inner p {
  font-size: 1em;
  margin-top: 1.5em;
}

#expRight .exp-inner h3 {
  font-size: 1.5em;
}

@media (min-width: 768px) {
  #banner,
  .contact {
    width: 35%;
    margin: 0 auto;
  }

  #expBottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  #exp .exp-outer {
    margin: 5em 0em 1em 0em;
  }

  #expBottom .exp-outer {
    width: 45%;
  }

  #expRight .exp-inner h3,
  #expRight .exp-inner h4,
  #expRight .exp-inner a,
  #expRight .exp-inner p {
    font-size: 1em;
    margin-top: 1.5em;
  }
}

@media (min-width: 1024px) {
  #banner,
  .contact {
    width: 25%;
    margin: 0 auto;
  }

  #exp .exp-outer {
    margin: 5em 0em 2.5em 0em;
  }

  #expBottom .exp-outer {
    width: 47.5%;
  }

  #expRight .exp-inner h3,
  #expRight .exp-inner h4,
  #expRight .exp-inner a,
  #expRight .exp-inner p {
    font-size: 1em;
    margin-top: 1.5em;
  }
}

@media (min-width: 1440px) {
  #banner,
  .contact {
    width: 20%;
    margin: 0 auto;
  }

  #expBottom .exp-outer {
    width: 45%;
  }

  #expRight .exp-inner h3,
  #expRight .exp-inner h4,
  #expRight .exp-inner a,
  #expRight .exp-inner p {
    font-size: 1em;
    margin-top: 1.5em;
  }
}
